html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    background-color: hsl(210, 46%, 95%);
    justify-items: center;
}

main {
    width: 25rem;
    background-color: white;
    border-radius: 10px;
}

.image {
    width: 25rem;
    height: 16.5rem;
    overflow: hidden;
}

.image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: fill;
}

.text {
    padding: 2rem 2rem 0 2rem;
}

.main h3 {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
    margin: 0;
    color: hsl(217, 19%, 35%);
}

.main p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    font-size: 1.07rem;
    color: hsl(214, 17%, 51%);
}

.info {
    display: flex;
    padding: 1.47rem 2rem 1.1rem 2rem;

}

.popup {
    display: flex;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1rem;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    padding: 0.92rem 2rem 0.92rem 2rem;
    border-radius: 0 0 10px 10px;
    color: hsl(212, 23%, 69%);
}

.share-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.share-group a {
    margin-right: 1.5rem;
}

.share-group a img {
    height: 1.7rem;
}

.popup p {
    font-size: 1.1rem;
    letter-spacing: 0.4rem;
    margin-right: 1.3rem;
}

.hidden {
    display: none;
}

.info img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.info .info-text {
    padding: 0;
}

.info-text {
    display: flex;
}

.info h4 {
    margin: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: hsl(217, 19%, 35%);
}

.username {
    width: 9rem;
    margin-left: 1rem;
    margin-right: 5.5rem;
}

.username p {
    margin: 0.2rem 0 0 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: hsl(214, 17%, 51%);

}

button {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

.info-text button img {
    width: 1.5rem;
    object-fit: contain;
}

.popup button img {
    width: 1.5rem;
    object-fit: contain;
}

button:hover {
    background-color: hsl(214, 17%, 51%);
}

footer { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 1rem;
    width: 15rem;
}

footer a { 
    color: hsl(228, 45%, 44%); 
}